In [1]:
import pandas as pd
import numpy as np

In [3]:
# Load patietn data
# n=1631 patients 

df = pd.read_csv('Final data_9April.csv')
df

,subject_id,hadm_id,stay_id,first_careunit_1,last_careunit_1,intime_1,outtime_1,charttime_1,storetime_1,flag_1,...,Admission Weight (Kg),creatinine_storetime_1,creatinine_value_1,creatinine_charttime_1,value_max,admittime,charttime_First,intime,starttime,statin
0,10002155,20345487,32358465,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2131-03-09 21:33:00,10/3/2131 18:09,10/3/2131 2:04,10/3/2131 3:17,abnormal,...,21.1,9/3/2131 23:46,1.4,9/3/2131 23:02,0.05,2131-03-09 20:33:00,2131-03-10 02:04:00,2131-03-09 21:33:00,2131-03-09 10:00:00,2
1,10020944,29974575,30757476,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2131-02-27 16:40:00,8/3/2131 18:30,27/2/2131 18:00,27/2/2131 20:36,abnormal,...,107.0,27/2/2131 19:03,1.4,27/2/2131 18:00,0.05,2131-02-27 15:34:00,2131-02-27 18:00:00,2131-02-27 16:40:00,NaN,0
2,10026255,22059910,31248398,Coronary Care Unit (CCU),Coronary Care Unit (CCU),2201-07-07 19:40:00,8/7/2201 15:43,10/7/2201 8:30,10/7/2201 12:21,NaN,...,68.6,8/7/2201 5:55,0.5,8/7/2201 4:46,0.02,2201-07-07 18:15:00,2201-07-10 08:30:00,2201-07-07 19:40:00,2201-07-07 21:00:00,1
3,10029057,28919637,36004746,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2187-07-30 21:48:00,3/8/2187 3:17,31/7/2187 5:18,31/7/2187 6:22,abnormal,...,69.6,31/7/2187 6:22,0.9,31/7/2187 5:18,0.06,2187-07-30 20:43:00,2187-07-31 05:18:00,2187-07-30 21:48:00,2187-07-30 10:00:00,2
4,10034317,20827960,33536886,Trauma SICU (TSICU),Trauma SICU (TSICU),2159-08-30 12:35:00,31/8/2159 16:26,26/8/2159 19:10,26/8/2159 19:58,NaN,...,NaN,26/8/2159 14:56,1.1,26/8/2159 13:10,0.02,2159-08-26 00:00:00,2159-08-26 19:10:00,2159-08-30 12:35:00,2159-08-30 20:00:00,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1626,19985545,21516111,32154634,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2144-07-22 02:06:00,23/7/2144 15:05,7/8/2144 2:49,8/8/2144 4:12,abnormal,...,66.7,21/7/2144 22:21,1.5,21/7/2144 21:31,0.04,2144-07-22 00:25:00,2144-08-07 02:49:00,2144-07-22 02:06:00,NaN,0
1627,19986604,21846283,36243531,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2159-11-03 18:48:00,4/11/2159 19:56,3/11/2159 23:04,4/11/2159 1:04,abnormal,...,65.4,4/11/2159 6:52,0.6,4/11/2159 5:51,0.04,2159-11-03 17:16:00,2159-11-03 23:04:00,2159-11-03 18:48:00,NaN,0
1628,19987702,26568899,34859288,Neuro Surgical Intensive Care Unit (Neuro SICU),Neuro Surgical Intensive Care Unit (Neuro SICU),2131-01-15 22:29:00,17/1/2131 21:26,13/1/2131 21:25,13/1/2131 22:10,abnormal,...,76.9,13/1/2131 22:10,1.1,13/1/2131 21:25,0.33,2131-01-13 16:45:00,2131-01-13 21:25:00,2131-01-15 22:29:00,2131-01-13 20:00:00,2
1629,19996783,21880161,31700331,Coronary Care Unit (CCU),Coronary Care Unit (CCU),2188-05-10 02:20:00,10/5/2188 22:30,9/5/2188 21:56,9/5/2188 23:47,abnormal,...,58.5,9/5/2188 23:35,1.1,9/5/2188 21:56,3.84,2188-05-09 15:55:00,2188-05-09 21:56:00,2188-05-10 02:20:00,2188-05-10 00:00:00,2
1630,19999987,23865745,36195440,Trauma SICU (TSICU),Trauma SICU (TSICU),2145-11-02 22:59:00,4/11/2145 21:29,3/11/2145 1:35,3/11/2145 2:42,abnormal,...,94.0,3/11/2145 2:42,1.3,3/11/2145 1:35,1.39,2145-11-02 21:38:00,2145-11-03 01:35:00,2145-11-02 22:59:00,NaN,0

In [11]:
# Load SOFA score dataset for 1631 patients
# SOFA score data extracted based on stay_id

sofa = pd.read_csv('Final study cohort_SOFA scores.csv') 
sofa.head(5)

,stay_id,hr,starttime,endtime,pao2fio2ratio_novent,pao2fio2ratio_vent,rate_epinephrine,rate_norepinephrine,rate_dopamine,rate_dobutamine,...,cardiovascular,cns,renal,respiration_24hours,coagulation_24hours,liver_24hours,cardiovascular_24hours,cns_24hours,renal_24hours,sofa_24hours
0,30000646,0,2194-04-29 01:00:00,2194-04-29 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,NaN,0,0,0,0,0,0,0
1,30000646,1,2194-04-29 02:00:00,2194-04-29 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,0.0,0,0,0,1,0,0,1
2,30000646,2,2194-04-29 03:00:00,2194-04-29 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,0,0,0,1,0,0,1
3,30000646,3,2194-04-29 04:00:00,2194-04-29 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,0,0,0,1,0,0,1
4,30000646,4,2194-04-29 05:00:00,2194-04-29 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,0,0,0,1,0,0,1

In [12]:
# sort by hr
sofa.sort_values(by='hr',ascending=True,inplace=True)

#### Include Base SOFA score - first SOFA score

In [13]:
# Include only the first sofa score for each patient - baseline sofa score 

Base_sofa = sofa.groupby('stay_id').first().reset_index()
Base_sofa

,stay_id,hr,starttime,endtime,pao2fio2ratio_novent,pao2fio2ratio_vent,rate_epinephrine,rate_norepinephrine,rate_dopamine,rate_dobutamine,...,cardiovascular,cns,renal,respiration_24hours,coagulation_24hours,liver_24hours,cardiovascular_24hours,cns_24hours,renal_24hours,sofa_24hours
0,30000646,0,2194-04-29 01:00:00,2194-04-29 02:00:00,71.000000,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0,0,0,0,0,0,0
1,30019415,0,2134-06-14 21:00:00,2134-06-14 22:00:00,125.000000,201.666667,0.10018,0.200130,NaN,NaN,...,4.0,0.0,0.0,0,0,0,4,0,0,4
2,30020923,0,2127-06-28 00:00:00,2127-06-28 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0,1,0,0,0,0,1
3,30024491,0,2159-07-23 11:00:00,2159-07-23 12:00:00,297.142857,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0,0,0,0,0,1,1
4,30030289,0,2151-11-07 13:00:00,2151-11-07 14:00:00,NaN,NaN,NaN,NaN,2.000662,NaN,...,2.0,0.0,0.0,2,0,0,2,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1626,39953997,0,2150-11-13 17:00:00,2150-11-13 18:00:00,164.000000,NaN,NaN,0.175214,NaN,NaN,...,1.0,1.0,1.0,0,0,0,1,1,0,2
1627,39963973,0,2130-10-31 23:00:00,2130-11-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,0,1,0,0,0,1,2
1628,39965461,0,2168-01-16 19:00:00,2168-01-16 20:00:00,NaN,510.000000,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0,0,2,0,0,0,2
1629,39966365,0,2186-03-08 20:00:00,2186-03-08 21:00:00,NaN,46.000000,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,4,1,0,0,0,0,5
1630,39985296,0,2179-04-26 15:00:00,2179-04-26 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0,0,0,0,0,0,0

In [17]:
# Include baseline sofa score into the final study cohort

df_final = pd.merge(df,Base_sofa[['stay_id','sofa_24hours']],how='left',on=['stay_id'])

In [20]:
df_final.to_csv('Final cohort with SOFA.csv',index=False)